/* COLOR VARIABLES */
:root {
  --primary_blue: #3c99cd;
  --dark_text: #282a33;
  --light_dark: #404248;
  --white: #fff;
  --h1: 4.5em;
  --h2: 3.25em;
  --h3: 2em;
  --h4: 1.5em;
  --link: 1.25em;
  --text: 1.125em;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}
/* FONTS */
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("Manrope-Regular.ttf");
  font-weight: var(--regular);
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("Manrope-Medium.ttf");
  font-weight: var(--medium);
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("Manrope-SemiBold.ttf");
  font-weight: var(--semi-bold);
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("Manrope-Bold.ttf");
  font-weight: var(--bold);
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("Manrope-ExtraBold.ttf");
  font-weight: var(--extra-bold);
  font-style: normal;
}

body {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-image: repeating-linear-gradient(
    90deg,
    #fafbfe 0em,
    #fafbfe 30em,
    #fff 30em,
    #fff 60em,
    #fafbfe 60em,
    #fafbfe 90em,
    #fff 90em,
    #fff 120em
  );
}

/* HEADER */

.header {
  background-image: url(../img/header_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.header__nav {
  width: 100%;
  height: 110px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
  justify-content: center;
  position: fixed;
}
#header__nav.fix {
  background-image: repeating-linear-gradient(
    90deg,
    #fafbfe 0em,
    #fafbfe 30em,
    #fff 30em,
    #fff 60em,
    #fafbfe 60em,
    #fafbfe 90em,
    #fff 90em,
    #fff 120em
  );
  height: 110px;
  padding-top: 0;
  z-index: 100;
}

#header__nav-link1.fix,
#header__nav-link2.fix,
#header__nav-link3.fix {
  color: var(--dark_text);
  align-self: center;
}

#header__nav-logo.fix {
  background-image: url(../img/header__logo_coloured.svg);
  background-position: center top;
}

.header__nav a {
  cursor: pointer;
  color: var(--white);
  font-size: var(--text);
  font-weight: var(--semi-bold);
  justify-content: center;
  text-align: center;
  text-decoration: none;
  align-self: center;
  transition: 0.2s;
}

.header__nav-logo {
  width: 188px;
  height: 30px;
  padding: 0 0 0 103px;
  justify-content: center;
  align-self: center;
  background-image: url(../img/header_logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav-dropbutton {
  color: var(--white);
  padding: 10px 7px 10px 7px;
}

.header__nav-dropdown {
  padding: 0 102px 0 0;
  align-self: center;
  justify-self: right;
}

.header__nav-dropdown-content {
  display: none;
  z-index: 1;
}

.header__nav-dropdown-content a {
  display: block;
  padding-top: 15px;
}

.header__nav-dropdown:hover .header__nav-dropdown-content {
  display: block;
}

#en.fix,
#ru.fix,
#tm.fix {
  color: var(--dark_text);
}

.header__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 308px 0 0 390px;
}

.header__title-h1 {
  margin: 0;
  font-weight: var(--semi-bold);
  font-size: var(--h1);
  line-height: 75px;
  color: var(--white);
}

.header__title-text {
  margin: 25px 0 0 0;
  max-width: 605px;
  font-weight: var(--medium);
  font-size: var(--text);
  line-height: 25px;
  color: var(--white);
}

.header__title-container {
  display: flex;
  gap: 25px;
  padding-top: 36px;
}

.header__title-container a {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  cursor: pointer;
  color: var(--white);
  font-size: var(--text);
  font-weight: var(--semi-bold);
  text-decoration: none;
  transition: 0.2s;
}

.header__title-container-arrow {
  background-image: url(../img/Line.png);
  width: 35px;
  height: 2px;
  align-self: center;
  transition: 0.2s;
}

.header__title-container-arrow:hover {
  background-image: url(../img/white_arrow.png);
  width: 60px;
  height: 17px;
  transition: 0.2s;
}

.header__title-container2 {
  display: flex;
  flex-direction: column;
  padding-right: 100px;
}

.header__title-container2 a {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  cursor: pointer;
  color: var(--white);
  font-size: var(--text);
  font-weight: var(--semi-bold);
  text-decoration: none;
  writing-mode: vertical-lr;
  transform: rotate(360deg);
  align-self: end;
  align-items: center;
  transition: 0.2s;
}

.header__title-container2-arrow {
  background-image: url(../img/Line.png);
  width: 35px;
  height: 2px;
  align-self: end;
  align-items: end;
  transform: rotate(90deg);
  transition: 0.2s;
}

.header__title-container2-arrow:hover {
  background-image: url(../img/white_arrow.png);
  width: 60px;
  height: 17px;
  transform: rotate(90deg);
  transition: 0.2s;
}

/* ABOUT US */

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 391px;
  margin-top: 112px;
}

.about__title {
  margin: 0;
  font-weight: var(--semi-bold);
  font-size: var(--h2);
  align-items: center;
  color: var(--dark_text);
}

.about__link {
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.about__link a {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  height: 20px;
  cursor: pointer;
  font-weight: var(--semi-bold);
  font-size: var(--text);
  color: var(--dark_text);
  text-decoration: none;
  transition: 0.2s;
}

.about__link-arrow {
  width: 35px;
  height: 2px;
  background-image: url(../img/blue_line.png);
  align-self: center;
  transition: 0.2s;
}

.about__link-arrow:hover {
  background-image: url(../img/blue_arrow.png);
  width: 60px;
  height: 17px;
  transition: 0.2s;
}

.about__text {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: 0;
  padding-top: 15px;
  max-width: 484px;
  font-weight: var(--medium);
  font-size: var(--text);
  line-height: 30px;
  align-items: center;
  color: var(--light_dark);
}

/* OUR STRENGTHS */

.strengths {
  height: 982px;
  background-image: repeating-linear-gradient(
    90deg,
    #4154a7 0px,
    #4154a7 480px,
    #4256b1 480px,
    #4256b1 960px,
    #4154a7 960px,
    #4154a7 1440px,
    #4256b1 1440px,
    #4256b1 1920px
  );
}

.strengths__container {
  display: grid;
  grid-template-columns: repeat(4, 480px);
  grid-template-rows: repeat(2, 1fr);
}

.strengths__container-title1 {
  height: 40px;
  grid-column: 1/3;
  grid-row: 1/2;
  font-weight: var(--semi-bold);
  font-size: var(--h3);
  color: var(--white);
  padding: 72px 0 67px 390px;
}

.strengths__container ul {
  width: 700px;
  grid-row: 1/2;
  grid-column: 1/4;
  list-style-type: none;
  padding: 179px 0 0 385px;
}

.strengths__container li {
  background: no-repeat 0 12px url(../img/Line.png);
  background-size: 25px 2px;
  font-weight: var(--semi-bold);
  font-size: var(--text);
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: -0.023em;
  padding-left: 50px;
}

.strengths__container li:not(:last-child) {
  padding-bottom: 20px;
}

.strengths__container-img {
  grid-column: 1/3;
  grid-row: 2/3;
  padding-top: 41px;
}

.strengths__container-title2 {
  width: 500px;
  height: 130px;
  grid-row: 1/3;
  grid-column: 3/4;
  font-weight: var(--semi-bold);
  font-size: var(--h2);
  line-height: 65px;
  color: var(--white);
  padding: 0 0 100px 140px;
  align-self: center;
}

.strengths__container-text {
  width: 475px;
  height: 120px;
  grid-row: 1/3;
  grid-column: 3/4;
  font-weight: var(--medium);
  font-size: var(--text);
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  padding: 200px 0 0 140px;
  align-self: center;
}

.strengths__container-link {
  display: flex;
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
  gap: 25px;
  padding: 0 0 100px 140px;
}

.strengths__container-link a {
  height: 20px;
  cursor: pointer;
  color: var(--white);
  font-size: var(--text);
  font-weight: var(--semi-bold);
  text-decoration: none;
  transition: 0.2s;
}

.strengths__container-link div {
  background: var(--white);
  width: 35px;
  height: 2px;
  align-self: center;
}

/* WHAT WE DO */

.job {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 25px;
  padding: 146px 0 0 30px;
}

.job__img1 {
  grid-column: 1/2;
  grid-row: 1/4;
  justify-content: end;
  align-items: end;
  justify-items: end;
  justify-self: end;
}

.job__text {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 150px;
  height: 35px;
  font-weight: var(--bold);
  font-size: var(--h4);
  align-items: center;
  color: var(--dark_text);
}

.job__title {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: var(--semi-bold);
  font-size: var(--h2);
  line-height: 65px;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--dark_text);
  padding-top: 45px;
}

.job__link {
  display: flex;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: center;
  gap: 25px;
  padding-top: 300px;
}

.job__link a {
  height: 20px;
  cursor: pointer;
  color: var(--dark_text);
  font-size: var(--text);
  font-weight: var(--semi-bold);
  text-decoration: none;
  transition: 0.2s;
}

.job__link div {
  background: var(--primary_blue);
  width: 35px;
  height: 2px;
  align-self: center;
}

/* TRANSPORTATION */

.transportation,
.transportation2 {
  display: flex;
  flex-direction: row;
  padding-top: 125px;
}

.transportation__first,
.transportation__third {
  padding-left: 391px;
}

.transportation__second,
.transportation__fourth {
  padding-left: 240px;
}

.transportation__first-title,
.transportation__second-title,
.transportation__third-title,
.transportation__fourth-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.transportation__first-title h2,
.transportation__second-title h2,
.transportation__third-title h2,
.transportation__fourth-title h2 {
  font-weight: var(--bold);
  font-size: var(--h4);
  line-height: 35px;
  letter-spacing: -0.02em;
  color: var(--dark_text);
  margin: 0;
}

.transportation__first-title div,
.transportation__second-title div,
.transportation__third-title div,
.transportation__fourth-title div {
  background: var(--primary_blue);
  width: 35px;
  height: 2px;
  align-self: center;
}

.transportation__first ul,
.transportation__second ul,
.transportation__third ul,
.transportation__fourth ul {
  list-style-type: none;
  font-weight: var(--semi-bold);
  font-size: var(--text);
  line-height: 25px;
  letter-spacing: -0.01em;
  color: var(--dark_text);
  padding: 0;
}

.transportation__first li,
.transportation__second li,
.transportation__third li,
.transportation__fourth li {
  padding-top: 45px;
}

/* IMPORT */

.import {
  height: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 262px;
  background-image: url(../img/import.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.import__title {
  font-weight: var(--semi-bold);
  font-size: var(--h2);
  line-height: 65px;
  letter-spacing: -0.02em;
  color: var(--white);
  padding: 217px 0 0 390px;
}

.import__text {
  width: 510px;
  font-weight: var(--medium);
  font-size: var(--text);
  color: var(--white);
  line-height: 30px;
  letter-spacing: -0.01em;
  padding: 34px 0 0 390px;
}

.import__link {
  display: flex;
  gap: 25px;
  padding: 34px 0 0 390px;
}

.import__link a {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--white);
  font-size: var(--text);
  font-weight: var(--semi-bold);
  text-decoration: none;
  transition: 0.2s;
}

.import__link-arrow {
  background-image: url(../img/Line.png);
  width: 35px;
  height: 2px;
  align-self: center;
  transition: 0.2s;
}

.import__link-arrow:hover {
  background-image: url(../img/white_arrow.png);
  width: 60px;
  height: 17px;
  transition: 0.2s;
}

/* PARTNERS  */

.partners {
  display: flex;
  flex-direction: row;
  padding: 313px 0 273px 390px;
}

.partners__container {
  display: flex;
  flex-direction: column;
}

.partners__container-title {
  font-weight: var(--semi-bold);
  font-size: var(--h2);
  line-height: 65px;
  letter-spacing: -0.02em;
  color: var(--dark_text);
}

.partners__container-text {
  width: 509px;
  font-weight: var(--medium);
  font-size: var(--text);
  line-height: 30px;
  letter-spacing: -0.01em;
  color: var(--light_dark);
  padding-top: 34px;
}

.partners__container-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-left: 216px;
}

.partners__container-img1,
.partners__container-img2,
.partners__container-img3,
.partners__container-img4 {
  filter: grayscale(100%);
}

.partners__container-img1:hover,
.partners__container-img2:hover,
.partners__container-img3:hover,
.partners__container-img4:hover {
  filter: grayscale(0%);
}

/* THANKS */

.thanks {
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/thanks.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thanks img {
  padding-right: 170px;
}

.thanks__title {
  width: 510px;
  font-weight: var(--semi-bold);
  font-size: var(--h2);
  line-height: 65px;
  letter-spacing: -0.02em;
  color: var(--white);
  padding-bottom: 40px;
}

.thanks__text {
  font-weight: var(--semi-bold);
  font-size: var(--text);
  line-height: 25px;
  letter-spacing: -0.01em;
  color: var(--white);
  padding: 0 170px 40px 0;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  height: 500px;
  background-image: url(../img/footer_img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 78px;
  justify-content: center;
}

.footer__logo {
  width: 189.57px;
  height: 30px;
  padding-bottom: 20px;
}

.footer__1,
.footer__2,
.footer__3,
.footer__4 {
  display: flex;
  flex-direction: column;
}

.footer__1 {
  padding-right: 300px;
}

.footer__1-text {
  font-weight: var(--regular);
  font-size: var(--text);
  line-height: 25px;
  color: #ffffff;
  padding-top: 44px;
}

.footer__2,
.footer__3,
.footer__4 {
  padding-right: 135px;
}

.footer__2 a,
.footer__3 a,
.footer__4 a {
  padding-bottom: 20px;
}

.footer_big {
  font-weight: var(--extra-bold);
  font-size: var(--link);
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
}

.footer_small {
  font-weight: var(--medium);
  font-size: var(--text);
  color: var(--white);
  padding-top: 50px;
  text-decoration: none;
}

.footer__1-last {
  font-weight: var(--medium);
  font-size: var(--text);
  color: rgba(255, 255, 255, 0.8);
  padding-top: 190px;
}

.footer__3-socials {
  display: flex;
  flex-direction: row;
  padding-top: 210px;
  column-gap: 20px;
}

.footer__3-socials a:hover {
  filter: brightness(150%);
  transition: 0.2s;
}

.footer__3-socials a {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}
